# ignore mac build files
build/
build-windows-msys2/
package/
tmp/
artifacts/
*.plist
*~
\#*\#
bin
wkhtmltopdf.app/
wkhtmltopdf.xcodeproj/
release*/
test/
static-build/
.obj/
doc/
docs/_site/
libdoc/
man1/
Makefile
qrc_wkhtmltopdf.cpp
Makefile.*
*_resource.rc
*.o
moc_*.*
.qmake*
.pi-lens
